@import "variable";
.container {
    height: 100vh;
    position: relative;
}
.section2{
    height: 100%;
    width: 100%;
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        flex: 2;
        padding-right: 25px;
        @media screen and (max-width: 768px) {
            padding: 0;
            justify-content: center;
            margin-bottom: 30px;
        }
        h1{
            letter-spacing: 15px;
            color: white;
            font-size: 80px;
            font-weight: 500;
        }
        .hashtag{
            color:$pink;
            font-size: 24px;
            padding-bottom: 8%;
        }
        .card{
            font-weight: 300;
            color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            @media screen and (max-width: 768px) {
                // width: calc(100% - 10px);
            }
            .s_title{
                width: 100%;
                // padding-bottom: 30px;
                font-size: 32px;
                
            }
            .text{
                font-size: 15px;
            }
            .box-btn{
                margin:20px 5px 0 0;
            }
        }
    }
    .photo{
        flex: 3;
        height: 100%;
        display: flex;
        // justify-content: center;
        justify-content: flex-end;
        align-items: center;
        padding-left: 25px;
        // margin: 90px 0 0 60px;
        @media screen and (max-width: 768px) {
            padding: 0;
            justify-content: center;
        }
        img{
            width: 95%;
            border: solid $blue-glow 3px;
            border-radius: 3px;

        }
    }
}