@import "variable";
.container {
    height: 100vh;      
    @media screen and (max-width: 768px) {
        height: 100%;
    }
}
.section2{
    height: 100%;
    width: 100%;
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-right: 25px;
        @media screen and (max-width: 768px) {
            padding: 0;
            width: 95%;
        }
        h1{
            letter-spacing: 15px;
            color: white;
            font-size: 80px;
            font-weight: 500;
            @media screen and (max-width: 1450px) {
                font-size: 65px;
            }
            @media screen and (max-width: 768px) {
                font-size: 48px;
            }
        }
        .hashtag{
            color:$pink;
            font-size: 24px;
            padding-bottom: 8%;
        }
        .card{
            font-weight: 300;
            color: $blue-glow;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            @media screen and (max-width: 768px) {
                margin-bottom:10px;
            }

            .s_title{
                width: 100%;
                font-size: 36px;
                margin-bottom: 20px;
            }
            .text{
                font-size: 15px;
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
            }
            .box-btn{
                margin:20px 5px 0 0;
                @media screen and (max-width: 768px) {
                    margin: 5px 5px 0 0;
                }
            }
        }
    }
    .photo{
        flex: 3;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 25px;
        @media screen and (max-width: 768px) {
            padding: 0;
            justify-content: center;
        }
        img{
            width: 95%;
            border: solid $blue-glow 3px;
            border-radius: 3px;
        }
    }
}