@import "variable";
body {
    overflow-x: hidden;
}
.container {
    // width: 100%;
    height: 100vh;
    position: relative;
}

.recent {
    color: #fff;
    @include text-glow($pink-glow);
    font-size: 40px;
    font-weight: 700;
    margin-top: 25px;
    i {
        color: $pink;
    }
    @media screen and(max-width: 768px) {
        margin-top: 0;
        font-size: 25px;
    }
}
.activity {
    margin: 0;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    // margin: 10px 0;
    @include text-glow($blue-glow);
    @media screen and(max-width: 768px) {
        font-size: 45px;
    }
}
.logo {
    position: absolute;
    min-height: 70vh;
    top: 55%;
    left: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media screen and (max-width: 769px) {
        max-width: 90vw;
        min-height: auto;
    }
}
.digi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 85px;
    bottom: 10px;
    @media screen and (max-width: 769px) {
        max-width: 90vw;
        bottom: 25px;
    }
}
.box-btn {
    @media screen and(max-width: 768px) {
        display: none;
    }
}
.inform {
    color: #fff;
    @include text-glow($blue-glow);
    @media screen and(max-width: 768px) {
        padding: 0 15px;
    }
    .year {
        font-size: 20px;
        margin-top: 10px;
        line-height: 0%;
        @media screen and(max-width: 768px) {
            font-size: 15px;
        }
    }
    .date {
        font-size: 35px;
        font-weight: 700;
        @media screen and(max-width: 768px) {
            font-size: 25px;
        }
    }
    .location {
        font-size: 35px;
        font-weight: 700;
        @media screen and(max-width: 768px) {
            font-size: 30px;
        }
    }
    .number {
        font-size: 20px;
        @media screen and(max-width: 768px) {
            font-size: 15px;
        }
    }
}

.box-btn {
    background: linear-gradient(rgba($blue, 0.5), rgba($blue, 0.3));
    margin: 20px 0;
    font-size: 25px;
}

.card {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    width: 300px;
    .title {
        font-size: 25px;
    }
    @media screen and(max-width: 768px) {
        display: none;
    }
}
.frame {
    z-index: 0;
    @media screen and (max-width: 769px) {
        // display: none;
    }
}
section {
    width: 100%;
    height: 100vh;
}
.section-1 {
    background: linear-gradient($darkblue, $darkblue 40%, $pink-glow);
}
.section-2 {
    background: linear-gradient($pink-glow, $darkblue, darken($blue-glow, 40));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .slogans {
        max-width: 750px;
        @media screen and (max-width: 769px) {
            max-width: 100vw;
            overflow: hidden;
            padding: 10px;
        }
        .slogan {
            color: #fff;
            margin: 15px 0;
            white-space: nowrap;
            font-size: 70px;
            font-weight: 700;
            @media screen and (max-width: 769px) {
                font-size: 30px;
            }
            .en {
                font-size: 70px;
                font-weight: 900;
                @media screen and (max-width: 769px) {
                    font-size: 30px;
                }
            }
        }
        .slogan:nth-child(odd) {
            @include text-glow($blue-glow);
            transform: translateX(-65px);
            .en {
                color: $blue;
            }
            @media screen and (max-width: 769px) {
                transform: translateX(0px);
            }
        }
        .slogan:nth-child(even) {
            @include text-glow($pink-glow);
            .en {
                color: $pink;
            }
        }
    }
}
.section-3 {
    background: linear-gradient(darken($blue-glow, 40), $blue-glow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 769px) {
        img {
            width: 80vw;
        }
    }
    .some-text {
        color: lighten($blue, 20);
        @include text-glow($blue-glow);
        @media screen and (max-width: 769px) {
            padding: 0 20px;
            font-size: 20px;
            margin-top: 20px;
        }
        font-size: 25px;
        i {
            font-size: 25px;
        }
    }
    position: relative;
    .blur {
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        bottom: -50px;
        backdrop-filter: blur(15px);
    }
}
.section-4 {
    display: flex;
    flex-direction: column;
    .feeback {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $blue;
        @include text-glow($blue-glow);
        font-size: 25px;
        position: relative;
        .blur {
            content: "";
            position: absolute;
            width: 100%;
            height: 100px;
            left: 0;
            bottom: -50px;
            backdrop-filter: blur(15px);
        }
    }
    .footer {
        flex: 1;
        background-color: black;
    }
}
.shadow {
    width: 100%;
    height: 100%;
    display: block;
    text-shadow: none;
    font-weight: 900;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 769px) {
        overflow: hidden;
    }
    .text {
        // line-height: 50px;
        margin: -15px 0;
        font-size: 150px;
        font-weight: 900;
        @media screen and (max-width: 769px) {
            font-size: 80px;
        }
    }
    .text:nth-child(odd) {
        color: rgba($blue, 0.15);
        div {
            width: 35px;
            height: 110px;
            display: inline-block;
            background-color: rgba($blue, 0.15);
            transform: skew(-25deg);
            margin: 0 -8px;
            @media screen and (max-width: 769px) {
                display: none;
            }
        }
        @for $i from 1 through 11 {
            div:nth-child(#{$i}) {
                background-color: rgba($blue, 0.15 * $i/5);
            }
        }
    }
    .text:nth-child(even) {
        color: rgba($pink, 0.15);
        div {
            width: 35px;
            height: 110px;
            display: inline-block;
            background-color: rgba($pink, 0.15);
            transform: skew(25deg);
            margin: 0 -8px;
            @media screen and (max-width: 769px) {
                display: none;
            }
        }
        @for $i from 1 through 11 {
            div:nth-child(#{$i}) {
                background-color: rgba($pink, 0.15 * $i/10);
            }
        }
    }
}
