body {
  overflow-x: hidden;
}

.container {
  height: 100vh;
  position: relative;
}

.recent {
  color: #fff;
  text-shadow: 0 0 20px #EB337B;
  font-size: 40px;
  font-weight: 700;
  margin-top: 25px;
}

.recent i {
  color: #ED66A5;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .recent {
    margin-top: 0;
    font-size: 25px;
  }
}

.activity {
  margin: 0;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0 0 20px #58B9CC;
}

@media screen and (max-width: 768px) {
  .activity {
    font-size: 45px;
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10000;
  width: 650px;
  height: 650px;
}

.logo img {
  width: 600px;
}

@media screen and (max-width: 769px) {
  .logo {
    max-width: 85vw;
    max-height: 85vw;
  }
  .logo img {
    width: 100%;
  }
}

.logo .square {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: circle 15s cubic-bezier(0.76, 0, 0.25, 0.99) infinite;
          animation: circle 15s cubic-bezier(0.76, 0, 0.25, 0.99) infinite;
}

.digi {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 85px;
  bottom: 10px;
}

@media screen and (max-width: 769px) {
  .digi {
    max-width: 90vw;
    bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .box-btn {
    display: none;
  }
}

.inform {
  color: #fff;
  text-shadow: 0 0 20px #58B9CC;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .inform {
    padding: 0 15px;
  }
}

.inform .year {
  font-size: 20px;
  margin-top: 10px;
  line-height: 0%;
}

@media screen and (max-width: 768px) {
  .inform .year {
    font-size: 15px;
  }
}

.inform .date {
  font-size: 35px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .inform .date {
    font-size: 25px;
  }
}

.inform .location {
  font-size: 35px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .inform .location {
    font-size: 30px;
  }
}

.box-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(118, 191, 208, 0.5)), to(rgba(118, 191, 208, 0.3)));
  background: linear-gradient(rgba(118, 191, 208, 0.5), rgba(118, 191, 208, 0.3));
  margin: 20px 0;
  font-size: 25px;
}

.card {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  width: 300px;
}

.card .title {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .card {
    display: none;
  }
}

.frame {
  z-index: 0;
}

section {
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.background .bg {
  width: 100%;
  height: 100vh;
}

.background .bg.bg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#101028), color-stop(40%, #101028), to(#BA2962));
  background: linear-gradient(#101028, #101028 40%, #BA2962);
}

.background .bg.bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#BA2962), color-stop(#101028), to(#153c43));
  background: linear-gradient(#BA2962, #101028, #153c43);
}

.background .bg.bg-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#153c43), to(#58B9CC));
  background: linear-gradient(#153c43, #58B9CC);
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.section-2 .slogans {
  max-width: 750px;
}

@media screen and (max-width: 769px) {
  .section-2 .slogans {
    max-width: 100vw;
    overflow: hidden;
    padding: 10px;
  }
}

.section-2 .slogans .slogan {
  color: #fff;
  margin: 15px 0;
  white-space: nowrap;
  font-size: 70px;
  font-weight: 700;
}

@media screen and (max-width: 769px) {
  .section-2 .slogans .slogan {
    font-size: 30px;
  }
}

.section-2 .slogans .slogan .en {
  font-size: 70px;
  font-weight: 900;
}

@media screen and (max-width: 769px) {
  .section-2 .slogans .slogan .en {
    font-size: 30px;
  }
}

.section-2 .slogans .slogan:nth-child(odd) {
  text-shadow: 0 0 20px #58B9CC;
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.section-2 .slogans .slogan:nth-child(odd) .en {
  color: #76BFD0;
}

@media screen and (max-width: 769px) {
  .section-2 .slogans .slogan:nth-child(odd) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.section-2 .slogans .slogan:nth-child(even) {
  text-shadow: 0 0 20px #EB337B;
}

.section-2 .slogans .slogan:nth-child(even) .en {
  color: #ED66A5;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media screen and (max-width: 769px) {
  .section-3 img {
    width: 80vw;
  }
}

.section-3 .some-text {
  color: #c2e2ea;
  text-shadow: 0 0 20px #58B9CC;
  font-size: 25px;
}

@media screen and (max-width: 769px) {
  .section-3 .some-text {
    padding: 0 20px;
    font-size: 20px;
    margin-top: 20px;
  }
}

.section-3 .some-text i {
  font-size: 25px;
}

.shadow {
  width: 100%;
  height: 100%;
  display: block;
  text-shadow: none;
  font-weight: 900;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

@media screen and (max-width: 769px) {
  .shadow {
    overflow: hidden;
  }
}

.shadow .text {
  margin: -15px 0;
  font-size: 150px;
  font-weight: 900;
}

@media screen and (max-width: 769px) {
  .shadow .text {
    font-size: 80px;
  }
}

.shadow .text:nth-child(odd) {
  color: rgba(118, 191, 208, 0.15);
}

.shadow .text:nth-child(odd) div {
  width: 35px;
  height: 110px;
  display: inline-block;
  background-color: rgba(118, 191, 208, 0.15);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  margin: 0 -8px;
}

@media screen and (max-width: 769px) {
  .shadow .text:nth-child(odd) div {
    display: none;
  }
}

.shadow .text:nth-child(odd) div:nth-child(1) {
  background-color: rgba(118, 191, 208, 0.03);
}

.shadow .text:nth-child(odd) div:nth-child(2) {
  background-color: rgba(118, 191, 208, 0.06);
}

.shadow .text:nth-child(odd) div:nth-child(3) {
  background-color: rgba(118, 191, 208, 0.09);
}

.shadow .text:nth-child(odd) div:nth-child(4) {
  background-color: rgba(118, 191, 208, 0.12);
}

.shadow .text:nth-child(odd) div:nth-child(5) {
  background-color: rgba(118, 191, 208, 0.15);
}

.shadow .text:nth-child(odd) div:nth-child(6) {
  background-color: rgba(118, 191, 208, 0.18);
}

.shadow .text:nth-child(odd) div:nth-child(7) {
  background-color: rgba(118, 191, 208, 0.21);
}

.shadow .text:nth-child(odd) div:nth-child(8) {
  background-color: rgba(118, 191, 208, 0.24);
}

.shadow .text:nth-child(odd) div:nth-child(9) {
  background-color: rgba(118, 191, 208, 0.27);
}

.shadow .text:nth-child(odd) div:nth-child(10) {
  background-color: rgba(118, 191, 208, 0.3);
}

.shadow .text:nth-child(odd) div:nth-child(11) {
  background-color: rgba(118, 191, 208, 0.33);
}

.shadow .text:nth-child(even) {
  color: rgba(237, 102, 165, 0.15);
}

.shadow .text:nth-child(even) div {
  width: 35px;
  height: 110px;
  display: inline-block;
  background-color: rgba(237, 102, 165, 0.15);
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
  margin: 0 -8px;
}

@media screen and (max-width: 769px) {
  .shadow .text:nth-child(even) div {
    display: none;
  }
}

.shadow .text:nth-child(even) div:nth-child(1) {
  background-color: rgba(237, 102, 165, 0.015);
}

.shadow .text:nth-child(even) div:nth-child(2) {
  background-color: rgba(237, 102, 165, 0.03);
}

.shadow .text:nth-child(even) div:nth-child(3) {
  background-color: rgba(237, 102, 165, 0.045);
}

.shadow .text:nth-child(even) div:nth-child(4) {
  background-color: rgba(237, 102, 165, 0.06);
}

.shadow .text:nth-child(even) div:nth-child(5) {
  background-color: rgba(237, 102, 165, 0.075);
}

.shadow .text:nth-child(even) div:nth-child(6) {
  background-color: rgba(237, 102, 165, 0.09);
}

.shadow .text:nth-child(even) div:nth-child(7) {
  background-color: rgba(237, 102, 165, 0.105);
}

.shadow .text:nth-child(even) div:nth-child(8) {
  background-color: rgba(237, 102, 165, 0.12);
}

.shadow .text:nth-child(even) div:nth-child(9) {
  background-color: rgba(237, 102, 165, 0.135);
}

.shadow .text:nth-child(even) div:nth-child(10) {
  background-color: rgba(237, 102, 165, 0.15);
}

.shadow .text:nth-child(even) div:nth-child(11) {
  background-color: rgba(237, 102, 165, 0.165);
}

.video {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: screen;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: 10;
  pointer-events: none;
  -o-object-fit: fill;
     object-fit: fill;
}

.glow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */