@import "variable";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
}
body {
    background-color: $darkblue;
    margin: 0;
    padding: 0;
    font-weight: 500;
    outline: none;
}
.menu{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100000;
    // padding: 25px 0;
    .btn {
        margin: 0 4px;
    }
    @media screen and (max-width: 769px){
        display: none;
    }
}
.container {
    max-width: 1920px;
    margin: auto;
    position: relative;
    padding: 25px 80px;
    @media screen and (max-width: 769px){
        padding: 25px 0;
    }
}

// 預設圓角按鈕
.btn {
    display: inline-block;
    padding: 2px 35px;
    border-radius: 20px;
    background-color: $blue;
    color: $darkblue;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    @include glow($blue-glow);
    &:hover {
        background-color: lighten($blue, 20);
    }
    &.active {
        background-color: $pink;
        color: #fff;
        @include glow($pink-glow);
        &:hover {
            background-color: none !important;
        }
    }
}

// 方形按鈕
.box-btn {
    display: inline-block;
    padding: 6px 18px;
    background-color: $blue;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 0px 0px 10px rgba(black, 0.5);
    i {
        margin-left: 5px;
    }
}

// 大標題字
h1 {
    color: #fff;
    font-size: $font-h1;
    font-weight: bold;
    margin: 10px 0;
    @include text-glow($pink-glow);
}

// 底部方框
.frame {
    padding: 35px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    pointer-events: none;
    @media screen and(max-width: 768px){
        padding: 0;
    }
    .inner {
        width: 100%;
        height: 100%;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to right, $pink, transparent 33%,transparent 67%, $blue);
    }
}


// 藍色透明卡片
.card {
    border-radius: 5px;
    display: inline-block;
    background: linear-gradient(rgba(darken($blue,20), 0.7), rgba(darken($blue,20), 0.5));
    color: $blue;
    font-size: $font-p;
    .title {
        font-size: 1.875rem;
        font-weight: 300;
        margin: 0;
        @include text-glow($blue-glow);
    }
    .hr {
        width: 100%;
        height: 2.2px;
        background: linear-gradient(to right, $blue, transparent);
        margin: 3px 0;
    }
}

#nav-M{
    display: none;
}
@media (max-width: 991px){

    #nav-M {

        display: block;
        z-index: 1010000;
    }
    .nav-wrapper{

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-color: $darkblue;
        opacity: 0;
        transition: all 0.2s ease ;      
    }
    .nav-wrapper ul{

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0;
        list-style: none;
        padding: 0;
    }
    
    .nav-wrapper ul li {

        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-wrapper ul li:nth-child(1) a {

        transition-delay: 0.1s;
    }
    .nav-wrapper ul li:nth-child(2) a {

        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(3) a {

        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:not(:first-child) {

        margin-left: 0;
    }

    .nav-wrapper ul li a {

        padding: 10px 0 24px 10px;
        opacity: 0;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
        text-decoration: none;
    }
    .nav-wrapper ul li{

        &:before{

            display: inline-block;
            content: "";
            width: 2px;
            height: 18px;
            background-color: #fff;
        }
    }
        
        
    .navBtn{

        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999999;
        border-radius: 50%;
    }
    .navBtn i{

        display: block;
        width: 20px;
        height: 2px;
        background-color: $pink;
        border-radius: 2px;
        margin-left: 14px;
    }
    .navBtn i:nth-child(1){

        margin-top: 16px;
    }
    .navBtn i:nth-child(2){

        margin-top: 4px;
        opacity: 1;
    }
    .navBtn i:nth-child(3){

        margin-top: 4px;
    }
}

#phoneNav:checked + .navBtn{

    transform: rotate(45deg);
}

#phoneNav:checked + .navBtn i{

    background-color: #fff;
    transition: transform 0.2s ease;
}

#phoneNav:checked + .navBtn i:nth-child(1){

    transform: translateY(6px) rotate(180deg)  ;
}

#phoneNav:checked + .navBtn i:nth-child(2){

    opacity: 0;
}

#phoneNav:checked + .navBtn i:nth-child(3){

    transform: translateY(-6px) rotate(90deg);  
}

#phoneNav:checked ~ .nav-wrapper{

    z-index: 99000;
    opacity: 1;
}
#phoneNav:checked ~ .nav-wrapper ul li a{

    opacity: 1;
    transform: translateX(0)  ;
}
.hidden{

    display: none   ;
}