body {
  overflow: hidden;
}

.container {
  height: 100vh;
  position: relative;
}

.work-name {
  color: #fff;
  font-size: 3.125rem;
  font-size: 75px;
  font-weight: bold;
  margin: 10px 0;
  text-shadow: 0 0 20px #EB337B;
}

@media screen and (max-width: 768px) {
  .work-name {
    font-size: 50px;
    margin-left: 20px;
  }
}

.tags {
  color: #ED66A5;
  text-shadow: 0 0 20px #EB337B;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .tags {
    margin-left: 20px;
  }
}

.silder {
  width: 98%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.silder .swiper-container {
  width: 80%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .silder .swiper-container {
    width: 100%;
  }
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide {
  height: auto;
  overflow: hidden;
  border-radius: 0.5px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0;
          box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0;
}

.swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media screen and (max-width: 768px) {
  .swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.swiper-slide.swiper-slide-active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0, 0px 0px 20px 10px #58b9cc;
          box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0, 0px 0px 20px 10px #58b9cc;
}

@media screen and (max-width: 768px) {
  .swiper-slide.swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-next {
  right: 70px;
}

@media screen and (max-width: 768px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  left: 70px;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-button-next:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  font-size: 65px;
  color: #76BFD0;
  text-shadow: 0 0 20px #76BFD0;
}

@media screen and (max-width: 768px) {
  .swiper-button-next:after {
    font-size: 40px;
  }
}

.swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a8";
  font-size: 65px;
  color: #ED66A5;
  text-shadow: 0 0 20px #ED66A5;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev:after {
    font-size: 40px;
  }
}

.intro {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  width: 300px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  overflow-y: scroll;
}

.popup .information {
  border-radius: 10px;
  position: absolute;
  right: 80px;
  bottom: 80px;
  top: 80px;
  width: 60%;
  height: 1200px;
  padding: 20px 15px;
  min-width: 800px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .popup .information {
    min-width: calc(100% - 15px);
    max-width: 100%;
    right: 10px;
    bottom: 50px;
    top: 50px;
  }
}

.popup .information .hr {
  width: calc(100% + 30px);
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  margin-bottom: 15px;
}

.popup .information p {
  width: 80%;
}

.popup .information .gallery {
  width: 80%;
  height: 400px;
  background-color: #76BFD0;
  border-radius: 5px;
}

.popup .information .cancel {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ED66A5;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(45%, -45%);
          transform: translate(45%, -45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup .information .cancel {
    border-radius: 5px;
  }
}

.popup .information .cancel i {
  font-size: 65px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .popup .information .cancel {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  .popup .information .cancel i {
    font-size: 25px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter-to {
  opacity: 1;
}
/*# sourceMappingURL=works.css.map */