.bear {
  width: 100%;
  height: 100%;
  float: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(20, 20, 50, 0.95)), color-stop(rgba(20, 20, 50, 0)), color-stop(rgba(20, 20, 50, 0)), to(rgba(20, 20, 50, 0.95)));
  background: linear-gradient(90deg, rgba(20, 20, 50, 0.95), rgba(20, 20, 50, 0), rgba(20, 20, 50, 0), rgba(20, 20, 50, 0.95));
  position: fixed;
  top: 0px;
  left: 0px;
}

.container {
  height: 100vh;
  position: relative;
}

.tags {
  color: #ED66A5;
  text-shadow: 0 0 10px #EB337B;
  font-size: 18px;
}

.gallery {
  width: 98%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery .swiper-container {
  width: 80%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide {
  height: 60%;
  border-radius: 0.5px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0;
          box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0;
}

.swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0, 0px 0px 20px 10px #58b9cc;
          box-shadow: inset 0px 0px 15px 2px #3992a7, 0px 0px 0px 8px #cdeaf0, 0px 0px 20px 10px #58b9cc;
}

.swiper-button-next {
  right: 70px;
}

.swiper-button-prev {
  left: 70px;
}

.swiper-button-next:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  font-size: 65px;
  color: #76BFD0;
  text-shadow: 0 0 10px #76BFD0;
}

.swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a8";
  font-size: 65px;
  color: #ED66A5;
  text-shadow: 0 0 10px #ED66A5;
}

.card {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  width: 300px;
}

.swiper-container:before {
  content: '';
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 20;
  background: -webkit-gradient(linear, left top, right top, from(#141432), color-stop(10%, #141432), to(rgba(20, 20, 50, 0)));
  background: linear-gradient(to right, #141432, #141432 10%, rgba(20, 20, 50, 0));
  left: -10px;
}

.swiper-container:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 20;
  background: -webkit-gradient(linear, right top, left top, from(#141432), color-stop(10%, #141432), to(rgba(20, 20, 50, 0)));
  background: linear-gradient(to left, #141432, #141432 10%, rgba(20, 20, 50, 0));
  top: 0;
  right: -10px;
}
/*# sourceMappingURL=works.css.map */