@import "variable";
body {
    overflow: hidden;
}
.container {
    // width: 100%;
    height: 100vh;
    position: relative;
}
.work-name {
    color: #fff;
    font-size: $font-h1;
    font-size: 75px;
    font-weight: bold;
    margin: 10px 0;
    @include text-glow($pink-glow);
    @media screen and (max-width: 768px) {
        font-size: 50px;
        margin-left: 20px;
    }
}

.tags {
    color: $pink;
    @include text-glow($pink-glow);
    font-size: 18px;
    @media screen and (max-width: 768px) {
        margin-left: 20px;
    }
}
.silder {
    width: 98%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 768px){
        // width: 100%;
    }
    .swiper-container {
        width: 80%;
        height: 100%;
        position: relative;
        @media screen and (max-width: 768px){
            width: 100%;
        }
    }
}
.swiper-wrapper {
    align-items: center;
}
.swiper-slide {
    // height: 60%;
    height: auto;
    overflow: hidden;
    border-radius: 0.5px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(0.5);
    box-shadow: inset 0px 0px 15px 2px rgba(darken($blue, 20), 1), 0px 0px 0px 8px rgba(lighten($blue-glow, 30), 1);
    &.swiper-slide-next,
    &.swiper-slide-prev {
        transform: scale(0.6);
        @media screen and (max-width: 768px){
        transform: scale(0.8);

        }
    }
    &.swiper-slide-active {
        transform: scale(.8);
        @media screen and (max-width: 768px){
            transform: scale(1);
        }
        box-shadow: inset 0px 0px 15px 2px rgba(darken($blue, 20), 1), 0px 0px 0px 8px rgba(lighten($blue-glow, 30), 1),
            0px 0px 20px 10px rgba($blue-glow, 1);
    }
    img{
        width: 100%;
    }
}
.swiper-button-next {
    right: 70px;
    @media screen and (max-width: 768px){
        right: 10px;
    }
}
.swiper-button-prev {
    left: 70px;
    @media screen and (max-width: 768px){
        left: 10px;
    }
}
.swiper-button-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a9";
    font-size: 65px;
    color: $blue;
    @include text-glow($blue);
    @media screen and (max-width: 768px){
        font-size: 40px;
    }
}
.swiper-button-prev:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a8";
    font-size: 65px;
    color: $pink;
    @include text-glow($pink);
    @media screen and (max-width: 768px){
        font-size: 40px;
    }
}

.intro {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    width: 300px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: rgba(black, 0.4);
    backdrop-filter: blur(6px);
    overflow-y: scroll;

    .cancel-layer{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .information {
        // overflow: scroll;
        border-radius: 10px;
        position: absolute;
        right: 80px;
        bottom: 80px;
        top: 80px;
        width: 60%;
        height: 1200px;
        padding: 20px 15px;
        min-width: 800px;
        font-weight: normal;
        @media screen and(max-width: 768px) {
            min-width: calc(100% - 15px);
            max-width: 100%;
            right: 10px;
            bottom: 50px;
            top: 50px;
        }
        .hr {
            width: calc(100% + 30px);
            transform: translateX(-15px);
            margin-bottom: 15px;
        }
        .title {
            // margin: 10px 0 0 10px;
        }
        p {
            width: 80%;
        }
        .gallery {
            width: 80%;
            height: 400px;
            background-color: $blue;
            border-radius: 5px;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        .cancel {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            @media screen and (max-width: 768px){
                border-radius: 5px;
            }
            background-color: $pink;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(45%, -45%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i {
                font-size: 65px;
                color: #fff;
            }
            @media screen and(max-width: 768px) {
                width: 50px;
                height: 50px;
                transform: translate(-10px, 10px);

                i {
                    font-size: 25px;
                }
            }
        }
        .members{
            display: flex;
            .member{
                flex: 1;
                margin: 0 15px;
                font-size: 22px;
                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 0px;
}

// .card{
//     .hr{
//         width: calc(100% +20px);
//         transform: translateX(-20px);
//     }
// }
// .swiper-container:before{
//     content: '';
//     display: inline-block;
//     width: 20%;
//     height: 100%;
//     background-color: red;
//     position: absolute;
//     z-index: 20;
//     background: linear-gradient(to right,rgba($darkblue, 1),rgba($darkblue, 1) 10% ,rgba($darkblue, 0) );
//     left: -10px;
// }
// .swiper-container:after{
//     content: '';
//     display: inline-block;
//     width: 20%;
//     height: 100%;
//     background-color: red;
//     position: absolute;
//     z-index: 20;
//     background: linear-gradient(to left,rgba($darkblue, 1),rgba($darkblue, 1) 10% ,rgba($darkblue, 0) );
//     top: 0;
//     right: -10px;
// }

.fade-leave {
    opacity: 1;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-leave-to {
    opacity: 0;
}
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-enter-to {
    opacity: 1;
}
